@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/variables";
@import "./base/reset";
@import "./base/common";
@import "./components/header";
@import "./components/services";
@import "./components/team";
@import "./components/footer";