$brand-color: #95E1D3;
$second-brand-color: #F38181;
$title-color: #333333;
$text-color: #B6B6B6;
$button-text-color: #fff;
$main-font: "Montserrat", sans-serif;
$suptitle-font: "Kaushan Script", sans-serif;
$secondary-font: "Roboto", sans-serif;