$brand-color: rgb(1, 217, 138);
$second-brand-color: rgb(255, 84, 84);
$title-color: rgb(59, 59, 59);
$text-color: rgb(145, 145, 145);
$button-text-color: #fff;
$main-font: "Montserrat", sans-serif;
$suptitle-font: "Kaushan Script", sans-serif;
$secondary-font: "Roboto", sans-serif;